.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px; 
    font-size: 14px; 
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo {
    img {
        // max-width: 100%;
        // max-height: 50px;
        // object-fit: contain;
        height: 30px;
    }
}

.navbar-menu {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        margin-left: 2rem;
    }
}

.navbar-start,
.navbar-end {
    display: flex;
    align-items: center;
}


.navbar-item {
    text-decoration: none; // This removes the default underline
    transition: border-bottom-color 0.6s; // Smooth transition for the border color
    border-bottom: 3px solid transparent; // Use transparent border to avoid shifting content
    color: #25262a;
    font-size: 20px;
    font-weight: 700;

    &:hover {
        border-bottom-color: #333; // Replace #somecolor with the desired color
    }

    &:last-child {
        margin-right: 0;
    }

}


.navbar-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.navbar-toggle-icon {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        left: 0;
        transition: transform 0.3s ease-in-out;
    }

    &::before {
        top: -6px;
    }

    &::after {
        bottom: -6px;
    }
}

.side-navbar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 3;

    &.is-active {
        right: 0;
    }
}

.side-navbar-item {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover {
        color: #ccc;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

app-auth-menu {
    margin-left: auto;
}

// design for the dropdown menu:
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none; // Hide the dropdown by default
    position: absolute;
    left: 0; // Align to the left of the .navbar-item
    background-color: #fff; // Match your design
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 10;

    .dropdown-item {
        display: block;
        padding: 10px 20px;
        color: #25262a; // Keep the font color consistent
        text-decoration: none;

        &:hover {
            background-color: #f1f1f1;
        }
    }
}

.navbar-item.dropdown:hover .dropdown-menu {
    display: block;
}

