.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-item {
    color: white;
    text-decoration: none;
    margin: 0 10px; /* Add margin to create spacing between items */
  }
  
  .navbar-item:hover {
    color: #ccc;
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .navbar-toggle-icon {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-toggle-icon::before,
  .navbar-toggle-icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-toggle-icon::before {
    top: -6px;
  }
  
  .navbar-toggle-icon::after {
    bottom: -6px;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .navbar-start {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Add space-around alignment */
    flex-grow: 1; /* Allow the navbar-start to grow and take available space */
  }
  
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-menu.is-active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-toggle {
      display: block;
    }
  }