<div class="product-management">
    <h2>Product Management</h2>
    <div class="table-container">
      <table class="product-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency:'ILS':'symbol' }}</td>
            <td>{{ product.product_weight_grams }} g</td>
            <td class="actions">
              <button class="btn btn-edit" [routerLink]="['/products/edit', product._id]">Edit</button>
              <button class="btn btn-delete" (click)="deleteProduct(product._id.toString())">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>