<div class="footer">

    <div class="footer-content">
      <div class="footer-section about">
        <h3>Online Espresso Shop</h3>
        <p>Explore the finest collection of espresso, coffee beans, and accessories.</p>
      </div>
      <div class="footer-section links">
        <h3>קישורים מהירים:</h3>
        <ul>
          <li><a href="#">בית</a></li>
          <li><a href="#">מוצרים</a></li>
          <li><a href="#">אודות</a></li>
          <li><a href="#">צור קשר</a></li>
        </ul>
      </div>
      <div class="footer-section social">
        <h3>עקבו אחרינו!</h3>
        <div class="social-links">
          <a href="#"><img src="assets/icons/icons8-facebook-circled-94.png" alt="Facebook"></a>
          <a href="#"><img src="assets/icons/icons8-youtube-logo-94.png" alt="Youtube"></a>
          <a href="#"><img src="assets/icons/icons8-instagram-188.png" alt="Instagram"></a>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2023 Online Espresso Shop. כל הזכויות שמורות.</p>
    </div>

  </div>