<div class="category-filter">
    <div class="filter-label">
        <h6>סינון לפי קטגוריה</h6>
    </div>

    <div class="buttons-container">
        
        <button class="all-categories-button" (click)="onCategoryClick(null)" [class.active]="!selectedCategory">
            <div class="all-categories-icon"></div>
            <span>כל הקטגוריות</span>
        </button>

        <button *ngFor="let category of categories" 
                class="category-button" 
                [ngClass]="getIconClass(category.name)"
                (click)="onCategoryClick(category._id)"
                [class.active]="category._id === selectedCategory">
            <div class="category-icon"></div>
            <span>{{ category.name | translateCategoryName   }}</span>
        </button>
    </div>

    <div *ngIf="productCount > 0" class="product-count">
        נמצאו {{ productCount }} מוצרים
    </div>
</div>