<div class="card">
    <div class="card-content">
      <div class="product-name">{{ product.name }}</div>
      <div class="product-description">{{ product.description }}</div>
      <div class="product-quantity-price">
        {{ product.price | currency:'ILS':'symbol' }} | {{ product.product_weight_grams | hebrewQuantity }}
      </div>
    </div>
  
    <div class="card-image">
      <img [src]="product.imageUrl" (error)="setDefaultImage($event)" alt="{{ product.name }}">
    </div>
  
    <div class="card-actions">
      <app-quantity-selector [(quantity)]="quantity"></app-quantity-selector>
      <button (click)="addToCart()" [disabled]="quantity === 0">הוספה לסל</button>
    </div>
  </div>