<div class="add-product-form">
    <form #myForm="ngForm" (ngSubmit)="send()">
      <div class="form-group">
        <label for="name">שם המוצר:</label>
        <input type="text" id="name" name="name" [(ngModel)]="product.name" required minlength="2" maxlength="100" #nameBox="ngModel">
        <span class="error" *ngIf="nameBox.touched && nameBox.errors?.['required']">Missing name.</span>
        <span class="error" *ngIf="nameBox.touched && nameBox.errors?.['minlength']">Name is too short.</span>
        <span class="error" *ngIf="nameBox.touched && nameBox.errors?.['maxlength']">Name is too long.</span>
      </div>
  
      <div class="form-group">
        <label for="description">תיאור המוצר:</label>
        <textarea id="description" name="description" [(ngModel)]="product.description" required minlength="2" maxlength="1000" #descriptionBox="ngModel"></textarea>
        <span class="error" *ngIf="descriptionBox.touched && descriptionBox.errors?.['required']">Missing description.</span>
        <span class="error" *ngIf="descriptionBox.touched && descriptionBox.errors?.['minlength']">Description is too short.</span>
        <span class="error" *ngIf="descriptionBox.touched && descriptionBox.errors?.['maxlength']">Description is too long.</span>
      </div>
  
      <div class="form-group">
        <label for="price">מחיר:</label>
        <input type="number" id="price" name="price" [(ngModel)]="product.price" required min="0" max="1000" #priceBox="ngModel">
        <span class="error" *ngIf="priceBox.touched && priceBox.errors?.['min']">Price can't be negative.</span>
        <span class="error" *ngIf="priceBox.touched && priceBox.errors?.['max']">Price can't exceed 1000.</span>
      </div>
  
      <div class="form-group">
        <label for="weight">משקל (בגרמים):</label>
        <input type="number" id="weight" name="product_weight_grams" [(ngModel)]="product.product_weight_grams" required min="0" max="1000" #quantityBox="ngModel">
        <span class="error" *ngIf="quantityBox.touched && quantityBox.errors?.['min']">Weight can't be negative.</span>
        <span class="error" *ngIf="quantityBox.touched && quantityBox.errors?.['max']">Weight can't exceed 1000 grams.</span>
      </div>
  
      <div class="form-group">
        <label for="image">תמונה:</label>
        <input type="file" id="image" name="image" #myImage accept="image/*">
        <span class="error" *ngIf="myImage.value === '' && myForm.submitted">Missing image.</span>
      </div>
  
      <button type="submit">הוסף מוצר</button>
    </form>
  </div>