<div class="category-filter">
    <div class="filter-label">סינון לפי קטגוריה</div>
    <div class="filters_item">
      <a href="#" (click)="onCategoryClick('all', $event)" aria-label="filter all products">
        <div class="click_to_filter_cat" [class.active]="selectedCategory === 'all'" data-cat="all">
          <div class="filter_icon icon_all"></div>
          <div class="filter_title">All Categories</div>
        </div>
      </a>
      <ng-container *ngFor="let category of categories">
        <a href="#" (click)="onCategoryClick(category._id, $event)" [attr.aria-label]="'filter by ' + category.name">
          <div class="" [class.active]="selectedCategory === category._id" [attr.data-filter]="'product_cat-' + category.name.toLowerCase().replace(' ', '-')">
            <div class="filter_icon" [ngClass]="'icon_' + category.name.toLowerCase().replace(' ', '_')"></div>
            <div class="filter_title">{{ category.name }}</div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>