div {
    height: 100%;

    text-align: center;

}

.error-image-container {
    position: relative;
    display: inline-block;
}

.error-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Frontend/src/assets/images/bg-error.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.error-image {
    // Adjust the width and height as needed
    width: 100%;
    height: 400px;
    object-fit: contain;
}