<div class="error-page">
    <div class="main-content">
        <!-- Error Image Section -->
        <section class="error-image-section">
            <div class="content-wrapper">
                <div class="error-image-container">
                    <img src="assets/images/404_error_page2.jpg" alt="404 Error - Page Not Found" class="error-image">
                </div>
            </div>
        </section>

        <!-- Error Message Section -->
        <section class="error-message-section">
            <div class="content-wrapper">
                <h1 class="page-title">אופס! נראה שהאספרסו שלך נסחף</h1>
                <h5 class="subtitle">נסה לרענן את הדף או לבקר אותנו בבית הקפה שלנו. אנחנו מבטיחים שיהיה לך קפה חזק יותר שם.</h5>
                <button class="home-button" routerLink="/home">לעמוד הבית</button>
            </div>
        </section>
    </div>
</div>