div {
    height: 100%;
    
}
header{
    border: 2px dotted blue;
    margin: 1px;
    
}
main{
    height: 100%;
    
    
    overflow: hidden;
}
footer{
    border: 2px dotted orange;
    margin: 1px;
}