

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; //height: 100vh;
    border: 3px red dashed;
}

header {
    border: 2px dotted blue;
    margin: 1px;
    flex: 0 0 20%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    border: 3px dotted green;    
    flex: 1;
}

footer {
    border: 3px dotted orange;  
    flex: 0 0 15%;
}