/* auth-menu.component.scss */
.auth-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    margin-left: auto;
     
  
    .btn-cart {
      order: 3;
      
    }
  
    .login-btn {
      order: 2;
    }
  
    .welcome_area {
      order: 1;
      font-family: inherit;
      line-height: 1.1;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background: 0 0;
      box-sizing: border-box;
      color: #bb946b;
      font-size: 20px;
      display: block;
      font-weight: 700;
    }
  
    color: #333;
    line-height: 1;
    font-family: assistant;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    box-sizing: border-box;

    
  }