<div class="home-container">
    <div class="side-left">
        <a href="/home" title="לחנות הקפה" tabindex="0">
            <img src="assets/images/תמונת-שער-חדשה-2024.png">
        </a>
    </div>

    <div class="side-right">
        <div class="color-bar" style="background-color: #ba946d; width: 183px; height: 10px;"></div>
        <h1 class="welcome-text">
            ברוכים הבאים<br>
            לבית הקלייה שלי
        </h1>
        <h2 class="expertise">גלעד שמחי, מומחה לקליית קפה</h2>
        <button class="big_slider_button" tabindex="0">לחנות הקפה</button>
    </div>
</div>
