<div>

    <!-- to enable html native validation -->
<!--   <form (ngSubmit)="send()" ngNativeValidate> -->
     
    <form (ngSubmit)="send()" #myForm="ngForm">
        
        <label>Name: </label>
        <input type="text" name="name" [(ngModel)]="product.name" #nameBox="ngModel" required minlength="2" maxlength="50">
        <span *ngIf="nameBox.touched && nameBox.errors?.['required']">Missing name.</span>
        <span *ngIf="nameBox.touched && nameBox.errors?.['minlength']">Name is too short.</span>
        <span *ngIf="nameBox.touched && nameBox.errors?.['maxlength']">Name is too long.</span>
        

        <label>Price: </label>
        <input type="number" name="price" step="0.01" [(ngModel)]="product.price" required min="0" max="1000">
        <span *ngIf="nameBox.touched && nameBox.errors?.['min']">Price can't be negative.</span>
        <span *ngIf="nameBox.touched && nameBox.errors?.['max']">Price can't exceed 1000.</span>
       

        
        <label>Image: </label>
        <input type="file" name="image" [(ngModel)]="product.image"  #myImage #imageBox="ngModel" >
       

         <button [disabled]="myForm.invalid"> update</button>

    </form>

</div>
